$type-scale: (
    small: (
        400: 1rem,
        600: 1.125rem,
        700: 1.5rem,
        800: 3.5rem,
    ),
    large: (
        400: 1.125rem,
        600: 1.5rem,
        700: 2rem,
        800: 4.5rem,
    ),
);
